<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welltech.dao.UiElementDao">
	
	<select id="findAllPointDtos" resultType="PointDto">
		select
			id,
			point
		from
			wt_station
	</select>
    
    
    
</mapper>